/* Used on .html files in the /projects directory and the project listing. */
:root{
--non: rgba(0, 0, 0, 0.6); /* Black transparency */
--scr: rgba(255, 121, 82, 0.8); /* Progress bar color for scrapped project */
--hld: rgba(255, 231, 98, 0.8); /* Color for projects on hold  */
--wip: rgba(117, 165, 255, 0.8); /* Color for projects in progress */
--yes: rgb(73, 235, 151, 0.8); /* For complete projects (progress bar should be solid) */

--textgrad: linear-gradient(to right, var(--non) 10%, rgba(0,0,0,0) 80%); /* for use on backgrounds with text in front */
}
main{
    margin-left:-12.5%;
    position: relative;
    width:125%;
}
.on-image{
    color: white;
    text-shadow: black 1px 1px 4px;
    padding:5% 5%;
}
.on-image h2{
    margin: -.8em 0 -.6em;
    font-weight:600 !important;
}
