// Component style for _includes/block.njk

ul:has(.block) {
	padding: 0;

	> * + * {
		margin-block-start: var(--md);
	}
}

.block {
	background: var(--green); // Placeholder background
	background-size: cover;
	background-position: center;
	background-origin: border-box;

	color: var(--fg-2);
	text-decoration: none;

	display: block;
	position: relative;

	transition: color 250ms ease-out;


	&::after {
		position: absolute;
		left: 0; top: 0; bottom: 0;
		width: 0;
		content: "";
		background: var(--green);
		transition: all 133ms ease-out;
	}

	&:hover {
		color: var(--fg-1);

		&::after {
			width: calc(var(--xs) - 2px);
		}
	}
}

.block > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 8em;

	& > * > * {
		background: var(--bg-2);
		backdrop-filter: blur(12px);
		padding: 0 var(--xs);
	}
}

.block-top {
	width: max-content;
	font-size: var(--sm);
	align-self: end;

	& > .block-tags {
		display: flex;
		gap: 1ch;
	}
}

.block-bottom {
	display: flex;
	flex-direction: column;

	& > :first-child {
		width: max-content;
		font-size: var(--sm);
	}
}

.block:hover {
	border-left-width: var(--xs);
}

.status {
	padding: 0 1ch;

	&.complete {
		background: var(--green);
	}
	&.on_hold {
		background: var(--yellow);
	}
	&.scrapped {
		background: var(--red);
	}
	&.wip {
		background: var(--blue);
	}
}
