// Component style for _includes/links.njk

#links {
	display: flex;
	gap: var(--xs);
	margin: 0;
	padding: 0;
	list-style: none;
}

#links > li > a {
	display: inline-block;
	height: 100%;
	width: max-content;

	opacity: 0.5;
	fill: var(--fg-2);
	transition: all 133ms ease-out;

	&:hover {
		fill: var(--icon-color);
		opacity: 1;

		@media (prefers-color-scheme: dark) {
			filter: saturate(0.95) brightness(1.1) ;
		}
	}
}

#links > li > a > svg {
	height: var(--xl);
}
