// Component style for _includes/nav.njk

nav {
	position: sticky;
	z-index: 99;
	top: 0;

	& > a, & > .nav-links > * {
		padding: 0 0.25ch;
		display: inline-block;
		width: min-content;
	}
}

.nav-links {
	display: inline-flex;
	gap: 0.25ch;
}

#nav-projects.highlight {
	background: var(--blue);
}

#nav-blog.highlight {
	background: var(--yellow);
}

#nav-404.highlight {
	background: var(--magenta);
}
