// For figures, styled to look like polaroids.
figure:has(img) {
	border: var(--xl) solid #fdfdfd;
	border-bottom-width: var(--xs);
	box-shadow: 3px 2px #0004;
	color: black;

	width: min-content;
	margin-left: auto;
	margin-right: auto;

	&:nth-child(4n) {
		transform: rotate(2.5deg);
	}

	&:nth-child(4n + 1) {
		transform: rotate(-1.8deg);
	}

	&:nth-child(4n + 2) {
		transform: rotate(2.7deg);
	}

	&:nth-child(4n + 3) {
		transform: rotate(-3.8deg);
	}
}

figure > img {
	max-height: 24em;
	max-width: min(72ch, 75vw);
	height: auto;
	width: auto;
}

figcaption{
	position: relative;
	margin: -1px; /* Fixes a tiny gap */
	padding: var(--sm) 4px var(--xs);
	font-size: var(--sm);
	background: #fdfdfd;

}
