<footer class="flex-row align-center justify-between">
	<span>
		Made with <a href="https://11ty.dev">11ty</a> and <img class="icon-md" src="/assets/heart.svg" alt="love">.
	</span>
	<span class="icon-md">
		{% include "../assets/logo.svg" %}
	</span>
</footer>
