<footer class="flex-row align-center justify-between">
	<span>
		Made with <a href="https://11ty.dev">11ty</a> and <span class="icon-md" style="vertical-align: -0.12em">{% include "../assets/heart.svg" %}</span>
	</span>
	<span class="icon-md">
		{% include "../assets/logo.svg" %}
	</span>
</footer>
