<footer class="flex-row align-center justify-between">
	<span>
		Made with <a href="https://11ty.dev">11ty</a> and <img class="icon-md" src="/assets/site-images/heart.svg" alt="love">.
	</span>
	<img class="icon-md" src="/assets/site-images/logo.svg" alt="logo">
</footer>
