{% set global_links = {
	"Email": {
		"url": "mailto:andy@12beesinatrenchco.at",
		"icon": "envelope-solid.svg",
		"color": "var(--blue)"
	},
	"Discord": {
		"url": "https://discord.com/users/231899170716385280",
		"icon": "discord-brands.svg",
		"color": "#5865F2"
	},
	"GitHub": {
		"url": "https://github.com/12beesinatrenchcoat",
		"icon": "github-brands.svg",
		"color": "var(--fg-2)"
	},
	"YouTube": {
		"url": "https://youtube.com/@12beesinatrenchcoat",
		"icon": "youtube-brands.svg",
		"color": "#F00"
	}
}
%}

<div class="flex-row justify-between align-baseline">
	<ul id="links">

		{% for name, item in global_links %}

		<li>
			<a href="{{item.url}}" style="--icon-color:{{item.color}}">
			{% include "../assets/icons/" + item.icon %}
			</a>
		</li>
		{% endfor %}

	</ul>

	<a href="/about">more about me &gt</a>
</div>
