<div class="callout warning">
<strong>warning: this thing is really old</strong>
<p>
This {% if status %}project was made{% else %}post was written{% endif %} years ago, and doesn't really reflect me now. The things it mentions may be outdated, or no longer even exist. It remains as a historical artifact, or something.<br>
<span class="subtext">(Although, if I'm honest, it's just that my old writing makes me cringe.)</span>
</p>
</div>
