<div class="flow">
	<div class="flow">
		<h1>hello <span class="inline-block">there! o/</span></h1>
		<p>My name is Andy Chan. I am a human being and stuff maker.</p>
	</div>
	<div class="socials">
		<a href="mailto:andy@12beesinatrenchco.at" data-tooltip="Email. Please no spam.">andy@12beesinatrenchco.at</a>
		<a href="javascript:void(0)" data-icon="discord" data-tooltip="Discord. Click to copy." onclick="navigator.clipboard.writeText('12beesinatrenchcoat#7664')">@12beesinatrenchcoat#7664</a>
		<a href="https://github.com/12beesinatrenchcoat" data-tooltip="GitHub. Code projects.">12beesinatrenchcoat</a>
		<a href="https://urusai.social/@12beesinatrenchcoat" rel="me" data-tooltip="Mastodon. Dumping random thoughts into the void.">@12beesinatrenchcoat@urusai.social</a>
		<a href="https://www.youtube.com/c/AndyChanPineapples" data-tooltip="YouTube. Videos sometimes.">andy chan</a>
		<p>More links on the <a href="/about#links">about page</a>.</p>
	</div>
	<hr>
	<div class="flow two-column">
		<div>
			<h2>latest project</h2>
			<p>Sometimes I work on things.</p>
			<div>
				{% for item in collections.projects | reverse | limit(1) %}
					{% if item.data.status === "wip" or item.data.status === "on_hold" %}
						{% include "block.njk" %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div>
			<h2>latest blog posts</h2>
			<p>Sometimes I write things.</p>
			<div class="flow">
				{% for item in collections.posts | reverse | limit(2) %}
					{% include "block.njk" %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
