@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {

/* colors used as accents and especially on the /projects page. */
    --accent-main:#B6FFB2; /* also used for completed projects */
    --accent-wip:#97CFE8;
    --accent-planning:#DCA6FF;
    --accent-onhold:#FFF1BD;
    --accent-scrapped:#FF9999;
}

/* dark mode very much planned. just... not yet.
@media (prefers-color-scheme: dark) {
    :root { 

    }
}
*/

*{
    font-weight:400;
}
body{
    margin: 5% 16%;
    font-family:'Open Sans',sans-serif;
    background: lightgrey;
    font-size:1.3rem;
}
a{
    color:black;
    text-decoration: underline dotted;
}
br{
    line-height:2em;
}
.accent{
    background: var(--accent-main);
    font-weight:600;
}
.subtitle{
    margin-top: -1.7em;
}