<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>template / projects - andythepie</title>
        <link rel="stylesheet" href="../../css/file.css">
        <link rel="stylesheet" href="../../css/projects.css">
    </head>
    <header style="display:flex;justify-content:space-between;font-size:2em;">
        <a href="../../projects.html">back to project listing</a>
    </header>
    <body>
        <main>
            <!-- Replace the image URL, by the way -->
            <div style="background:var(--textgrad), url(https://www.dropbox.com/s/gcmwc3go9ralvad/webcode.jpg?dl=1) no-repeat center;background-size:cover;">
                <div class="on-image" style="padding:10% 5%">
                    <p>month year</p>
                    <h2 style="margin-top:-.8em;">project title</h2>
                </div>
                <div style="background:linear-gradient(to right, var(--wip) 40%, var(--non) 40%, var(--non) 100%);color:white;text-align:center;">
                    <span>percent%</span> complete, [status goes here if not work in progress]
                </div>
            </div>
        </main>
        <h2 style="margin-bottom:1em;"> <span>progress</span> log </h2>
        <div style="display:flex;flex-direction:column-reverse;margin:0% 10%;">
            <div>
                <h3>day <span>month</span> year</h3>
                <p>content goes here</p>
            </div>
        </div>
    </body>
    <footer>
        <p class="novert">andy chan 2019</p>
        <p class="novert"><a href="#top">back to top</a></p>
        <p><a href="https://pages.github.com">powered by github pages</a></p>
    </footer>
</html>
