/* Articles. As in, blog posts. */
article
	max-width: 72ch

/* The table of contents, other side elements */
aside
	position: -webkit-sticky
	position: sticky
	top: 1em
	margin-left: 2ch
	height: max-content
	width: 100%
	max-width: 36ch !important

	> nav
		margin: revert

li > ol
	list-style-type: lower-alpha
	margin-left: -1ch