/* Icons before links. */
a
	color: inherit

a[href^="https://"]:not(.no-icon), *[data-icon], a[href^="mailto:"]
	display: inline-block

	&::before
		display: inline-block
		margin: 0 0.33ch
		vertical-align: -0.15em
		max-height: 1.5em
		min-width: 1em
		content: url("/assets/icons/arrow-up-right-from-square-solid.svg")

	> sub
		text-decoration: none
		margin: 0 0.33ch 0 -0.33ch

	&[href*="music.apple.com"]
		--social-bg: #fa243c
		&::before
			content: url("/assets/icons/apple-music.svg")
	&[href*="bandcamp.com"]
		--social-bg: #1da0c3
		&::before
			content: url("/assets/icons/bandcamp-brands.svg")
	&[href*="discord.gg"], &[data-icon="discord"]
		--social-bg: #5865F2
		&::before
			content: url("/assets/icons/discord-brands.svg")
	&[href*="github.com"]
		--social-bg: white
		--social-fg: var(--not-white)
		--filters: invert(0)
		&::before
			content: url("/assets/icons/github-brands.svg")
	&[href*="itch.io"]
		--social-bg: #fa5c5c
		&::before
			content: url("/assets/icons/itch-io-brands.svg")
	&[href*="last.fm"]
		--social-bg: #ba0000
		&::before
			content: url("/assets/icons/lastfm-brands.svg")
	&[href*="osu"]
		--social-bg: #ff66aa
		&::before
			content: url("/assets/icons/osu.svg")
	&[href*="steam"]
		--social-bg: black
		&::before
			content: url("/assets/icons/steam-brands.svg")
	&[href*="twitter.com"]
		--social-bg: #1d9bf0
		&::before
			content: url("/assets/icons/twitter-brands.svg")
	&[href*="urusai.social"]
		--social-bg: #aa0000
		&::before
			content: url("/assets/icons/mastodon-brands.svg")
	&[href*="youtube.com"]
		--social-bg: #ff0000
		--social-fg: white
		--filters: invert(1)
		&::before
			content: url("/assets/icons/youtube-brands.svg")
	&[href^="mailto:"]
		--social-bg: var(--green)
		--social-fg: var(--not-white)
		--filters: invert(0)
		&::before
			content: url("/assets/icons/envelope-solid.svg")


.socials
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

	> *
		padding: 0.5ch
		margin: 0.5ch 1ch 0.5ch 0

	> a
		background: var(--social-bg, var(--accent-25))
		color: var(--social-fg, var(--white))

		&::before
			filter: var(--filters, invert(1))
