*[data-tooltip]
	position: relative

	&:hover::after
		position: absolute
		left: 0
		bottom: calc(125% - 0.6em)
		font-size: var(--font-size-sm)
		background: var(--social-bg, var(--accent-25))
		content: attr(data-tooltip)
		pointer-events: none
		z-index: 3
		padding: 0.2ch

		width: max-content
		max-width: 40vw

	&:active::after
		filter: brightness(1.33)
