{# the block, used for both projects and blog posts in listings. looks a lot like the header. #}
{% if item.data.tags %}
{% set type %}{% if "project" in item.data.tags %}project{% elif "post" in item.data.tags %}post{% endif %}{% endset %}
{% endif %}

<a class="block {{type}} {{item.data.status}}" style="--img: url({{item.data.image}})" href="{{item.url}}">
	<!-- top info -->
	<div class="top-info">
		<span>
			{% if item.data.status %}
			<span class="status">{{item.data.status | projectStatus}}</span>
			{% endif %}
			{% if item.date %}
			<span class="dates">
				{% if item.data.status %}|{% endif %}
				<time>{{item.date | formatDate}}</time>
					{% if item.data.enddate %}
					– <time>{{item.data.enddate | formatDate}}</time>
					{% endif %}
			</span>
			{% endif %}
		</span>
		{% if item.data.tags.length > 0 %}
		<span class="tags">
			tags: 
			{% for tag in item.data.tags %}
			{% if tag !== "post" and tag !== "project"%}
			<span class="tag">{{tag}}</span>
			{% endif %}
			{% endfor %}
		</span>
		{% endif %}
	</div>

	<!-- bottom row -->
	<div class="bottom-info">
		<h3>{{item.data.title}}</h3>
		<p>{{item.data.description}}</p>
	</div>

</a>