{% comment %}
used in listings. requires a multitude of variables.
{% endcomment %}

{% if include.status == "complete" %}
	{% assign date_string_prefix = "completed" %}
	{% assign date_string_suffix = ":D" %}
{% elsif include.status == "scrapped" %}
	{% assign date_string_prefix = "scrapped" %}
	{% assign date_string_suffix = ":(" %}
{% elsif include.status %}
	{% assign date_string_prefix = "started" %}
{% endif %}

{%- capture date_string -%}
	{{date_string_prefix}}
	{{include.date | date_to_string | downcase}}
	{{date_string_suffix}}
{% endcapture %}

<div class="{{include.status}} {{include.type}}" style="background-image:url({{include.headerImage}})">
	<div class="inner-content">
		<time class="smoltext" datetime="{{include.date | date: "%Y-%m-%d"}}">
			{{date_string}}
		</time>
		<span class="inline">
			<h3>
				<a href="{{include.url}}">{{include.title}}</a>
			</h3>
			{% if include.tags %}
			<div class="tags">
				{% for tag in include.tags %}
				<span class="tag">{{tag}}</span>
				{% endfor %}
			</div>
			{% endif %}
		</span>

		<p class="subheader">{{ include.description }}</p>
	</div>
</div>