<footer>
	<a href="https://github.com/12beesinatrenchcoat/12beesinatrenchcoat.github.io/tree/gh-pages">last built {{generated | lower}}</a>
	<a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
		<img src="/assets/icons/creative-commons-brands.svg">
		<img src="/assets/icons/creative-commons-by-brands.svg">
	</a>
</footer>