{# the header of a page. looks a lot like the block. #}
<header class="{{status}}" style="--img: url({{image}})">
	{% if date %}
	<span class="dates">
		<time>{{date | formatDate}}</time>
			{% if data.enddate %}
			– <time>{{data.enddate | formatDate}}</time>
			{% endif %}
	</span>
	{% endif %}

	<div>
		<span class="inline-header">
			<h1>{{title}}</h1>

			{% if type %}
			<span class="type">{{type}}</span>
			{% endif %}

			{% if tags.length > 1 %}
			{% for tag in tags %}
			{% if tag !== "post" and tag !== "project"%}
			<span class="tag">{{tag}}</span>
			{% endif %}
			{% endfor %}
			{% endif %}
		</span>

		<p>{{description}}</p>
	</div>
</header>