<nav id="nav">
    <span id="links">
        {% for item in site.data.navigation %}
        {% comment %} what in tarnation {% endcomment %}
        <a href="{{ item.link }}" {% if page.url contains item.name or item.link=="/" and page.url=="/"
            %}class="emphasis-highlight"{% endif %}>{{ item.name }}</a>
        {% endfor %}
    </span>
    <span>
        <span id=mynameis>
            my name is <span class="emphasis-highlight">{{site.author.name}}</span> &nbsp;
        </span>
        <img src="/assets/site-images/logo.svg" alt="logo">
    </span>
</nav>
