// stuff involving headers
h1, h2, h3
    font-weight: 600 // i like semi-bold :3
    display: inline-block
    margin-bottom: 0em

.subtitle  // as in, title below title.
    margin-top: -0em    


h1, h2, h3, h4, h5, h6
    position: relative
    &::before
        position: absolute
        left: auto
        right: calc(100% + 0.5em)
        font-size: 0.8rem
        color: #000000b4

        @media (max-width: 480px)
            display: none


h1:not(.emphasis-highlight, #title)::before
    content: "H1"
    top: 1.25em

h2::before
    content: "H2"
    top: 0.8em

h3::before
    content: "H3"
    top: 0.3em

h4, h5, h6
    font-size: 1em // why are they so small
    margin: 1em 0 0
    &::before
        top: 0.25em

// why spend 2 minutes doing something tedious when you can spend 20 minutes automating it
@mixin headers($levels)
    @each $level in $levels
        h#{$level}::before
            content: "H#{$level}"

@include headers(4 5 6)