// mostly everything.

@import url("https://brick.freetls.fastly.net/Open+Sans:400,600");

body {
    font-family: "Open Sans", sans-serif;
    margin: 2% 0%;
}

a{
    color:inherit;
}

main, nav, footer{
    margin: 0% 20%;

    @media (max-width: 1280px){
        margin: 0 10%;
    }
    @media (max-width: 480px){
        margin: 0 1em;
        #mynameis{
            display:none;
        }
        button{
            display:none;
        }
    }
}

h1, h2, h3{
    display:inline-block;
    margin-bottom: 0em;
}

.subtitle {
    margin-top: -0em
}

code {
    font-family: "JetBrains Mono", monospace;
    background: rgba(64,64,64,0.1);
    display: block;
    padding: 1em;
}

p > code, li > code{
    padding: 0;
    display: inline;
}

img{
    max-width: 100%;
    max-height: 480px;
    display:block;
    margin:auto;
}

header{
    display:block;
    position: relative;
    margin-top: 1em;
    > div{
        padding: 2em 0;
        position: relative;
        > div{
            margin: 0% 20%;
            @media (max-width: 1280px){
                margin: 0 10%;
            }
            @media (max-width: 480px){
                margin: 0 1em;
            }

        }
    }
    background-position: center;
    background-size: cover;
}

nav, footer{
    background: rgba(32, 32, 32, 0.8);
    color: white;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    #logo{
        filter: invert(100%);
        height: 1em;
        display: inline;
        vertical-align: -0.12rem;
    }
}

button{
    border: none;
    color: inherit;
    background: none;
    text-decoration: underline;
}

blockquote{
    border-left: 2px solid;
    p{
        margin-left: 1em;
        font-style: italic;
    }
}

.emphasis-highlight{
    color:black;
    text-decoration: none;
}

.smoltext{
    font-size: 0.85rem;
}