@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3{
    display:inline-block;
    margin-bottom: 0em;
}

.currentpage {
    color: green;
}

.subtitle {
    margin-top: -0.25em
}

