// styling blog posts, project pages, that stuff.

$translucent-black: #00000096

.header-inner
	color: white
	display: flex
	flex-direction: column

#title
	max-width: 32ch
	line-height: 1em
	margin: 0
	display: inline
	background: $translucent-black


main > :not(.post, .project)
	max-width: 72ch

header
	display: block
	position: relative
	margin-top: 1em
	background-position: center
	background-size: cover
	
	> div
		background: $translucent-black
		padding: 1.5em 0em

.header-inner > *
	margin-left: 0

.status
	padding: .1em .25ch