---
layout: base.njk
---
{% if image === undefined %}
{% set image %}
"/assets/headers/{{page.date | formatDate}}-{{page.fileSlug}}.webp"
{% endset %}
{% endif %}

<header style="background-image: url({{image}})"> </header>
<div>
<time datetime="{{page.date | formatDate}}">
	{{page.date | formatDate}}
</time>
<h1>{{title}}</h1>
</div>
{{content | safe}}
