:root{
	--background: black;
	--highlight: #f2306acc;
	--scrollbar: #f2306a;
}

body{
	color: white;
}

h1{
	font-size: 8rem;
	margin-top: 5%;
}

#links::after{
	content: "the void";
	padding: 0 0.1em;
	color: black;
	background-color: #f2306acc;
}