body{
    background: #D4D1CB;
}
.emphasis-highlight{
    background: #F2D430;
}
.post{
    margin-bottom: 1em;
}
div > div{
    padding: 1em 1em;
    backdrop-filter: blur(4px);
}

header > div{
    backdrop-filter:blur(4px);
}