---
---

// color variables
$translucent-black: rgba(0, 0, 0, 0.4);
$translucenter-black: rgba(0, 0, 0, 0.3);

$wip: rgba(48, 215, 242, 0.5);
$wip-20: rgba(48, 215, 242, 0.2);

$on_hold: rgba(242, 212, 48, 0.5);
$on_hold-20: rgba(242, 212, 48, 0.2);

$complete: rgba(77, 255, 129, 0.5);
$complete-20: rgba(77, 255, 129, 0.2);

$scrapped: rgba(244, 67, 54, 0.5);
$scrapped-20: rgba(244, 67, 54, 0.2);

body{
    background: #CBD4D3;
}
.emphasis-highlight{
    background: rgb(48, 215, 242); // should match $wip, but 100% alpha
}
// lots of things... this is a mess.

div{
    padding: 2em 1em;
    background-position: center;
    background-size: cover;
    color: white;
    a{
        color: white
    }
    margin-bottom: 1em;
    position: relative;
}

.inner-content{
    padding: 0.5em;
    position: relative;
    display: inline-block;
    background: $translucent-black;
    max-width: 80%;
}

.wip{
    .tag{
        background: $wip
    }
    &::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: 
            repeating-linear-gradient(45deg, $wip-20, $wip-20 35px, $wip 35px, $wip 70px),
            linear-gradient($translucenter-black, $translucenter-black);
        backdrop-filter: blur(3px);
    }
    &::after{
        content: "wip";
        position: absolute;
        padding: 0.2rem;
        background: $wip;
        color:white;
        right: 2.5%;
        bottom: 10%;
    }
}

.on_hold{
    .tag{
        background: $on_hold
    }
    &::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: 
            radial-gradient($on_hold 15%, $on_hold-20 16%),
            radial-gradient($on_hold 15%, $on_hold-20 16%),
            linear-gradient($translucenter-black, $translucenter-black);
        background-size: 60px 60px;
        background-position: 0 0, 20px 20px;
        backdrop-filter: blur(3px);
    }
    &::after{
        content: "on hold";
        position: absolute;
        padding: 0.2rem;
        background: $on_hold;
        color:white;
        right: 2.5%;
        bottom: 10%;
    }
}

.scrapped{
    .tag{
        background: $scrapped
    }
    &::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background:
            linear-gradient(135deg, $scrapped 25%, $scrapped-20 25%) -50px 0,
            linear-gradient(225deg, $scrapped 25%, $scrapped-20 25%) -50px 0,
            linear-gradient(315deg, $scrapped 25%, $scrapped-20 25%),
            linear-gradient(45deg, $scrapped 25%, $scrapped-20 25%),
            linear-gradient($translucenter-black, $translucenter-black);
        background-size: 100px 100px;
        backdrop-filter: blur(3px);
    }
    &::after{
        content: "scrapped :(";
        position: absolute;
        padding: 0.2rem;
        background: $scrapped;
        color:white;
        right: 2.5%;
        bottom: 10%;
    }
}


.complete{
    .tag{
        background: $complete
    }
    &::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background:
            url(/assets/images/complete-tileplus.svg),
            linear-gradient($complete-20, $complete-20),
            linear-gradient($translucenter-black, $translucenter-black);
        background-size:64px, 64px;
        backdrop-filter: blur(3px);
    }
    &::after{
        content: "complete! :D";
        text-align:right;
        position: absolute;
        padding: 0.2rem;
        background: $complete;
        color:white;
        right: 2.5%;
        bottom: 10%;
    }
}

// below is only used for projects pages - everything above is also used on project listing

header {
    background-position: center;
    & > div > div{
    display: inline-block;
    background: $translucent-black;
    padding: 0.5rem 1rem;
}
}