---
---
// for just project listings.

// color variables
$translucent-black: rgba(0, 0, 0, 0.4);
$translucenter-black: rgba(0, 0, 0, 0.3);

$wip: rgba(48, 215, 242, 0.5);
$wip-20: rgba(48, 215, 242, 0.2);

$on_hold: rgba(242, 212, 48, 0.5);
$on_hold-20: rgba(242, 212, 48, 0.2);

$complete: rgba(77, 255, 129, 0.5);
$complete-20: rgba(77, 255, 129, 0.2);

$scrapped: rgba(244, 67, 54, 0.5);
$scrapped-20: rgba(244, 67, 54, 0.2);

body{
    background: #CBD4D3;
}
.emphasis-highlight{
    background: rgba(48, 215, 242, 0.8); // should match $wip, but 80% alpha
}
// lots of things... this is a mess.

.project{
    &::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        backdrop-filter: blur(3px);
    }
    &::after{
        position: absolute;
        padding: 0.2rem;
        color:white;
        right: 2.5%;
        bottom: 10%;
    }
}

.wip{
    .tag{
        background: $wip
    }
    &::before{
        background-image: 
            repeating-linear-gradient(45deg, $wip-20, $wip-20 35px, $wip 35px, $wip 70px),
            linear-gradient($translucenter-black, $translucenter-black);
        backdrop-filter: blur(2px);
    }
    &::after{
        content: "wip";
        background: $wip;
    }
}

.on_hold{
    .tag{
        background: $on_hold
    }
    &::before{

        background-image: 
            radial-gradient($on_hold 15%, $on_hold-20 16%),
            radial-gradient($on_hold 15%, $on_hold-20 16%),
            linear-gradient($translucenter-black, $translucenter-black);
        background-size: 60px 60px;
        background-position: 0 0, 20px 20px;
    }
    &::after{
        content: "on hold";
        background: $on_hold;
    }
}

.scrapped{
    .tag{
        background: $scrapped
    }
    &::before{
        background:
            linear-gradient(135deg, $scrapped 25%, $scrapped-20 25%) -50px 0,
            linear-gradient(225deg, $scrapped 25%, $scrapped-20 25%) -50px 0,
            linear-gradient(315deg, $scrapped 25%, $scrapped-20 25%),
            linear-gradient(45deg, $scrapped 25%, $scrapped-20 25%),
            linear-gradient($translucenter-black, $translucenter-black);
        background-size: 100px 100px;
    }
    &::after{
        content: "scrapped :(";
        background: $scrapped;
    }
}


.complete{
    .tag{
        background: $complete
    }
    &::before{
        background:
            url(/assets/images/complete-tileplus.svg),
            linear-gradient($complete-20, $complete-20),
            linear-gradient($translucenter-black, $translucenter-black);
        background-size:64px, 64px;
    }
    &::after{
        content: "complete! :D";
        background: $complete;
    }
}