
img 
    width: 75%
    height: auto
    box-shadow:1px 1px 4px rgba(64, 64, 64, .32)
    &:hover
        animation: 0.2s ease-out forwards normal shadowfadein

code
    background: rgba(69, 69, 69, 0.16) //haha funny number