@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap')

// colors used as accents and especially on the /projects page.
$accent-main:    rgb(182, 255, 178) // also used for completed projects 
$accent-wip:     rgb(151, 207, 232)
$accent-planning:rgb(220, 166, 255)
$accent-onhold:  rgb(255, 241, 189)
$accent-scrapped:rgb(255, 153, 153)

// some animations because i don't know where to define these

@keyframes shadowfadein
    0%
        box-shadow:1px 1px 4px rgba(64, 64, 64, .32)
    100%
        box-shadow:2px 2px 10px rgba(64, 64, 64, .64)

// actual rules!

*
    font-weight: 400

body
    font-family: 'Open Sans',sans-serif
    background: lightgrey
    font-size: 1.3rem  
    margin: -8px
    overflow-x: hidden

.body
    margin: 5% 24% 5% 16%

br
    line-height: 2em

.accent
    background: $accent-main
    font-weight: 600

.subtitle
    margin-top: -1.6em
 
#about
    a
        color: black
        text-decoration: none 
        padding:0.2em

#top-buttons
    a
        color: black
        text-decoration: underline dotted
        margin-right:3em

.coollink
    color: black
    text-decoration: underline dotted !important
    
// originally from a post-specific stylesheet, now merged into one...
img 
    width: 75%
    height: auto
    box-shadow:1px 1px 4px rgba(64, 64, 64, .32)
    &:hover
        animation: 0.2s ease-out forwards normal shadowfadein

code
    background: rgba(69, 69, 69, 0.16) //haha funny number

header
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6)
    color: white
    padding:5% 10%
    div
        margin-left: 5%

.tags
    span
        background: rgba(151, 207, 232, 0.6)
        padding: 0.1em 0.6em
        font-size: 0.9em

// for items in the projects or blog list
.entry
    color: white !important // because i don't understand css
    padding: 0.5em 1em
    text-decoration: none
    margin-bottom: 1em
    h2 
        margin-top: 0
    p
        margin-bottom: 0

#blog
    a
        text-decoration: none

#projects
    a
        text-decoration: none

.smol
    font-size: 0.9em