@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap')

// colors used as accents and especially on the /projects page.
$accent-main:    rgb(182, 255, 178) // also used for completed projects 
$accent-wip:     rgb(151, 207, 232)
$accent-planning:rgb(220, 166, 255)
$accent-onhold:  rgb(255, 241, 189)
$accent-scrapped:rgb(255, 153, 153)

// some animations because i don't know where to define these

@keyframes shadowfadein
    0%
        box-shadow:1px 1px 4px rgba(64, 64, 64, .32)
    100%
        box-shadow:2px 2px 10px rgba(64, 64, 64, .64)

// actual rules!

*
    font-weight: 400

body
    font-family: 'Open Sans',sans-serif
    background: lightgrey
    font-size: 1.3rem  
    margin: -8px
    overflow-x: hidden

.body
    margin: 5% 24% 5% 16%

a
    color: black
    text-decoration: underline dotted

br
    line-height: 2em

.accent
    background: $accent-main
    font-weight: 600

.subtitle
    margin-top: -1.7em
