/* Near the top, for performance (?) */

body {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	--placeholder: linear-gradient(
		to bottom,
		#84acba,
		#749bac,
		#4b728b,
		#395f78,
		#396785
	);
}

// Portrait
@media (max-aspect-ratio: 3/4) {
	body {
		background-image: url("/assets/background-vert.webp"), var(--placeholder);
	}
}

// Landscape
@media (min-aspect-ratio: 3.0001/4) {
	body {
			background-image: url("/assets/background.webp"), var(--placeholder);
	}
}
