/* Colors from Huetone, by Ardov. Wonderful tool! <3
https://huetone.ardov.me/?palette=N4IgdghgtgpiBcICMAmARjGBnAlpALgE4xgDGAFqQPYB0E%2BABAG4AcIANCOQK7YIDaoSLAQhiAEw4hqAGyqEsAkAGIAZuICcEFnE7K0LAKwB2AGyGQAXQC%2B7IdDiIAnjBlyA7lNnzF8fitUAFnFTUKllFnEWJECUK1t7EUQAc2ISLyo5BSVlAGY0VW02PUDTFlJDCxs7cAdRCCduDKzff2VA4MxA8JRNJB14muFHEDQZXmafHNMYUiRC8NyWY0MNOGrEkYAHbkItmV1pTKm-FVIWDXFVUnDzQyRjVXjLTnwqMD5TmRxk8nwpcQQQgAa3iQA */

:root {
	@media (prefers-color-scheme: light) {
		--red: #fba3ab;
		--yellow: #f2d671;
		--green: #51f88e;
		--ayu: #24d5db;
		--blue: #7ec8fd;
		--purple: #d4b2fe;

		--bg-1: #fffc;
		--bg-2: #eeec;
		--fg-1: #000;
		--fg-2: #111;
	}

	@media (prefers-color-scheme: dark) {
		--red: #ae4e5d;
		--yellow: #7e7233;
		--green: #418851;
		--ayu: #208885;
		--blue: #2f6c95;
		--purple: #64507e;

		--bg-1: #111c;
		--bg-2: #000c;
		--fg-1: #fff;
		--fg-2: #eee;
	}

	--magenta: #f0f;
}
