<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet"> 
	<!-- style -->
	<link rel="stylesheet" href="/style/index.css">
	<style>
		{% block style %}
		:root {
			--accent-desat: var(--{{accent | d("green")}}-dst);
			--accent-75: var(--{{accent | d("green")}}-trn-75);
			--accent-50: var(--{{accent | d("green")}}-trn-50);
			--accent-25: var(--{{accent | d("green")}}-trn-25);
		}
		{% endblock %}
	</style>
	<!-- other meta stuff -->
	{% block meta %}
	<meta name="theme-color" content="#66f06040">
	{% endblock %}
	<title>{{ title }}</title>
</head>
<body>
	{% include 'navigation.njk' %}
	{% block content %}
	{{content | safe}}
	{% endblock %}
	{% include 'footer.njk' %}
</body>
</html>