{% if page.collection == "posts" %}
	{% assign style = "blog" %}
{% else %}
	{% capture style %}
		{{page.collection | default: "self"}}
	{% endcapture %}
{% endif %}

{% if page.status == "complete" %}
	{% assign date_string_prefix = "completed" %}
	{% assign date_string_suffix = ":D" %}
{% elsif page.status == "scrapped" %}
	{% assign date_string_prefix = "scrapped" %}
	{% assign date_string_suffix = ":(" %}
{% elsif page.status %}
	{% assign date_string_prefix = "started" %}
{% else %}
	{% assign date_string_prefix = published %}
{% endif %}

{%- capture date_string -%}
	{{date_string_prefix}}
	{{page.date | date_to_string | downcase}}
	{{date_string_suffix}}
{% endcapture %}

{% assign tags = page.tags %}

<!DOCTYPE html>
<html lang="en">

	{% include head.html style=style %}

	{% include navigation.html %}

	<header style="background-image: url({{page.headerImage}})">
		<div {% if page.status %}class="{{page.status}}"{% endif %}>
			<div class="header-inner">
				<span class="smoltext">{{content | number_of_words}} words</span>
				<span class="inline">
					<h1 id="title">{{ page.title }}</h1>
					{% if tags %}
						<div class="tags">
							{% for tag in tags %}
							<span class="tag">{{tag}}</span>
							{% endfor %}
						</div>
					{% endif %}
				</span>
				<p class="subheader">
					{{page.description}}
				</p>
				<time datetime="{{page.date | date: "%Y-%m-%d"}}">
					{{ date_string }}
				</time>
			</div>
		</div>
	</header>

	<main class="flow">
		{{ content }}
	</main>

	{% include footer.html %}

</html>