---
accent: blue
---

{% extends "./base.njk" %}

{% block meta %}
<meta name="theme-color" content="#8ccfff80">
{% endblock %}

{% block content %}
		<main tabindex="-1" id="main-content">
			{% include "header.njk" %}
			<div class="two-column">
				<article class="flow">
					{{content | safe}}
				</article>
				<aside class="flow">
					{{content | toc | safe}}
					<div class="block-div links">
						{% for link in links %}
						<a href="{{link.url}}">{{link.name}}</a>
						{% endfor %}
					</div>
				</aside>
			</div>
		</main>
{% endblock %}