---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/projects.css">
    {% include favicon.html %}
    <style>
        header{
            background-image:url({{page.headerImage}});
        }
    </style>
</head>
    {% include navigation.html %}

    <header class="{{page.status}} project">
        <div>
            <div class="inner-content">
                <h1 id="title">{{ page.title }}</h1> 
                {% for tag in page.tags %}
                    <span class="tag">{{tag}}</span>
                {% endfor %}
                <p class="subtitle">
                    {{page.description}} <br> 
                    started {{ page.startDate | date_to_string | downcase }} 
                    {% if page.endDate != "tba" %}
                        {% if page.status == "complete" %}
                        / completed
                        {% else %}
                        / scrapped
                        {% endif %}
                        {{page.endDate | date_to_string | downcase}}
                    {% endif %}
                </p>
            </div>
        </div>
    </header>

    <main>
        {{content}}
    </main>

    {% include footer.html %}
</html>

