---
title: blog
layout: base
---

<section>
	<h1>blog</h1>
	<p>shouting into the void, but in a longer format</p>

	<ul>
		{%- for item in collections.blog -%}
		{% if item.date > 1735750800000 %}
		{% include "block.njk" %}
		{% endif %}
		{%- endfor -%}
	</ul>
</section>

<hr>

<section>
<h2>really old posts</h2>
	<ul>
		{%- for item in collections.blog -%}
		{% if item.date < 1735750800000 %}
		{% include "block.njk" %}
		{% endif %}
		{%- endfor -%}
	</ul>
</section>
