---
title: hello!
layout: base.njk
---

<div>
oh, hi! my name is
<div class="flex-row gap-xs align-baseline">
	<h1>Andy Chan</h1>
	any/all
</div>
stuff maker, rhythm game addict, insomniac college student
</div>

{% include "links.njk" %}

<hr>

<section>
	<span class="flex-row gap-xs justify-between align-baseline">
	<h2>projects</h2>
	<a href="/projects">more &gt</a>
	</span>

	<ul>
	{%- for item in collections.projects | limit(2) -%}
	{% include "block.njk" %}
	{%- endfor -%}
	</ul>
</section>

<section>
	<span class="flex-row gap-xs justify-between align-baseline">
	<h2>blog</h2>
	<a href="/blog">more &gt</a>
	</span>

	<ul>
	{%- for item in collections.blog | limit(2) -%}
	{% include "block.njk" %}
	{%- endfor -%}
	</ul>
</section>
