@use "_background";
@use "_colors";
@use "_components";
@use "_polaroid";
@use "_reset";
@use "_utility";

@use "sass:math";

body {
	color: var(--fg-1);
	fill: var(--fg-1);

	font-family: "Manrope", sans-serif;

	margin: 20vh 4vw var(--xl);
	max-width: 64ch;

	> * {
		padding: var(--sm) var(--md);
		backdrop-filter: blur(8px);
	}
}

@media (max-width: 128ch) {
	body {
		margin: var(--md) auto;
	}
}

main {
	background: var(--bg-1);

	> * + * {
		margin-block-start: var(--md);
	}
}

nav, footer {
	background: var(--bg-2);

	* {
		display: inline;
	}
}

header {
	margin: calc(-1 * var(--sm)) 0 0 calc(-1 * var(--md));
	padding: math.pow(4/3, 8) * 1em 0 0 var(--md);
	width: calc(100% + (2 * var(--md)));
	background: center/cover;
	mask-image: linear-gradient(#fff 75%, #fff0);
	position: relative;
	z-index: -1;
}

header + * {
	margin-top: -1em;
}

h1 {
	font-size: var(--2xl);
}

h2 {
	font-size: var(--xl);
}

h3 {
	font-size: var(--lg);
}

blockquote {
	border-left: 0.25ch solid var(--fg-2);
	padding-left: var(--sm);

	color: var(--fg-2);
}

.callout {
	margin-left: calc(-1 * var(--md));
	margin-right: calc(-1 * var(--md));

	border: dashed var(--fg-2);
	border-width: 2px 0;

	padding: var(--sm) var(--md);
	background: var(--bg-1);
}
